body {
    background-image: linear-gradient(#19A7CE,#AFD3E2,#AFD3E2);
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}

/* Title Header */
.titleBar {
  display: flex;
  z-index: 1;
  top: 0;
  position: fixed;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.titleA {
  margin-left: 25px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: white;
}

.titleB {
  margin-right: 25px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: white;
}

/* Bottom Navigation Bar */
.navigationBar {
  bottom: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.buttonA {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  background-color: black;
  color: white;
  text-decoration: none;
}

.buttonB {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  background-color: #146C94;
  color: white;
  text-decoration: none;
}

.buttonC {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  background-color: black;
  color: white;
  text-decoration: none;
}

.buttonA:hover:not(.active) {
background-color: #146C94;
color: white;
text-decoration: none;
}

.buttonB:hover:not(.active) {
background-color: #146C94;
color: white;
text-decoration: none;
}

.buttonC:hover:not(.active) {
background-color: #146C94;
color: white;
text-decoration: none;
}

.active {
background-color: #146C94;
color: white;
}

/* My Projects */
.headerText {
  margin-top: 100px;
  margin-left: 100px;
  padding-right: 15px;
  width: fit-content;
  font-size: 60px;
  font-family: 'Outfit', sans-serif;
  color: white;
  border-right: 6px solid #146C94;
}

/* Project A */
.projectAContainer {
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-bottom: 10px;
  /* border-left: 5px dashed black;
  border-right: 5px dashed black; */
}

.projectA {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectA1 {
  height: 700px;
  display: flex;
  justify-content: center;
}

.imgContainerCosmic {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.cosmicMenu {
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: -5px 5px 4px #888888;
} 

.cosmicGame {
  height: 300px;
  border-radius: 10px;
  box-shadow: -5px 5px 4px #888888;
} 

.projectA2 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.cosmicHeader {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  color: black;
  border-bottom: 6px solid #19A7CE;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px; 
  text-shadow: 3px 3px #c6c6c6;
}

.cosmicDescription{
  display: flex;
  text-align: justify;
  width: 600px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cosmicSub{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
}

.cosmicHeavy{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #19A7CE;
  transition-duration: 0.4s;
}

.cosmicHeavy:hover {
  border: 2px solid #19A7CE;
  background-color: white;
  color: #19A7CE;
}

.cosmicLight{
  display: flex;
  height: 30px;
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  color: black;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Project B */
.projectBContainer {
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  margin-bottom: 10px;
}

.projectB {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectB1 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.imgContainerHear {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hearMenu {
  height: 600px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 5px 5px 4px #888888;
} 

.hearGame {
  height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #888888;
} 

.projectB2 {
  height: 700px;
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.hearHeader {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  color: black;
  border-bottom: 6px solid #19A7CE;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #c6c6c6;
}

.hearDescription{
  display: flex;
  text-align: justify;
  width: 600px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hearSub{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
}

.hearHeavy{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #19A7CE;
  transition-duration: 0.4s;
}

.hearHeavy:hover {
  border: 2px solid #19A7CE;
  background-color: white;
  color: #19A7CE;
}

.hearLight{
  display: flex;
  height: 30px;
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  color: black;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Project C */
.projectCContainer {
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-bottom: 10px;
  /* border-left: 5px dashed black;
  border-right: 5px dashed black; */
}

.projectC {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectC1 {
  height: 700px;
  display: flex;
  justify-content: center;
}

.imgContainerPiggy {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.piggyMenu {
  height: 600px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: -5px 5px 4px #888888;
} 

.piggyGame {
  height: 600px;
  border-radius: 10px;
  box-shadow: -5px 5px 4px #888888;
} 

.projectC2 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.piggyHeader {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  color: black;
  border-bottom: 6px solid #19A7CE;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #c6c6c6;
}

.piggyDescription{
  display: flex;
  text-align: justify;
  width: 600px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.piggySub{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
}

.piggyHeavy{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #19A7CE;
  transition-duration: 0.4s;
}

.piggyHeavy:hover {
  border: 2px solid #19A7CE;
  background-color: white;
  color: #19A7CE;
}

.piggyLight{
  display: flex;
  height: 30px;
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  color: black;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Project D */
.projectDContainer {
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  margin-bottom: 10px;
}

.projectD {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectD1 {
  height: 700px;
  display: flex;
}

.imgContainerByte {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.byteMenu {
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #888888;
} 

.byteGame {
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #888888;
} 

.projectD2 {
  height: 700px;
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.byteHeader {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  color: black;
  border-bottom: 6px solid #19A7CE;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #c6c6c6;
}

.byteDescription{
  display: flex;
  text-align: justify;
  width: 600px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.byteSub{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
}

.byteHeavy{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #19A7CE;
  transition-duration: 0.4s;
}

.byteHeavy:hover {
  border: 2px solid #19A7CE;
  background-color: white;
  color: #19A7CE;
}

.byteLight{
  display: flex;
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  color: black;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Project E */
.projectEContainer {
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-bottom: 10px;
  /* border-left: 5px dashed black;
  border-right: 5px dashed black; */
}

.projectE {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectE1 {
  height: 700px;
  display: flex;
  justify-content: center;
}

.imgContainerSctap {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sctapMenu {
  height: 600px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: -5px 5px 4px #888888;
} 

.sctapGame {
  height: 600px;
  border-radius: 10px;
  box-shadow: -5px 5px 4px #888888;
} 

.projectE2 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.sctapHeader {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  color: black;
  border-bottom: 6px solid #19A7CE;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #c6c6c6;
}

.sctapDescription{
  display: flex;
  text-align: justify;
  width: 600px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sctapSub{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
}

.sctapHeavy{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #19A7CE;
  transition-duration: 0.4s;
}

.sctapHeavy:hover {
  border: 2px solid #19A7CE;
  background-color: white;
  color: #19A7CE;
}

.sctapLight{
  display: flex;
  height: 30px;
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  color: black;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Project F */
.projectFContainer {
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  margin-bottom: 10px;
  margin-bottom: 100px;
}

.projectF {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectF1 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainerHandog {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.handogMenu {
  height: 600px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 5px 5px 4px #888888;
} 

.handogGame {
  height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #888888;
} 

.projectF2 {
  height: 700px;
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.handogHeader {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  color: black;
  border-bottom: 6px solid #19A7CE;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #c6c6c6;
}

.handogDescription{
  display: flex;
  text-align: justify;
  width: 600px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.handogSub{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
}

.handogHeavy{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #19A7CE;
  transition-duration: 0.4s;
}

.handogHeavy:hover {
  border: 2px solid #19A7CE;
  background-color: white;
  color: #19A7CE;
}

.handogLight{
  display: flex;
  height: 30px;
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  color: black;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


@media screen and (max-width: 1500px) {
  .projectA2 {
    margin-left: 50px;
  }

  .projectB2 {
    margin-left: 50px;
  }

  .hearGame {
    display: none;
  }

  .projectC2 {
    margin-left: 50px;
  }

  .piggyGame {
    display: none;
  }

  .projectD2 {
    margin-left: 50px;
  }

  .projectE2 {
    margin-left: 50px;
  }

  .projectF2 {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .projectAContainer {
    height: 1400px;
  }

  .projectA {
    flex-direction: column;
  }

  .projectA2 {
    margin-left: 0px;
    margin-top: 70px;
  }

  .projectBContainer {
    height: 1400px;
  }

  .projectB {
    flex-direction: column;
  }

  .projectB2 {
    margin-left: 0px;
    margin-top: 70px;
  }

  .projectCContainer {
    height: 1400px;
  }

  .projectC {
    flex-direction: column;
  }

  .projectC2 {
    margin-left: 0px;
    margin-top: 70px;
  }

  .projectDContainer {
    height: 1400px;
  }

  .projectD {
    flex-direction: column;
  }

  .projectD2 {
    margin-left: 0px;
    margin-top: 70px;
  }

  .projectEContainer {
    height: 1400px;
  }

  .projectE {
    flex-direction: column;
  }

  .projectE2 {
    margin-left: 0px;
    margin-top: 70px;
  }

  .projectFContainer {
    height: 1400px;
  }

  .projectF {
    flex-direction: column;
  }

  .projectF2 {
    margin-left: 0px;
    margin-top: 70px;
  }

  .cosmicHeader {
    margin-bottom: 40px; 
  }

  .hearHeader {
    margin-bottom: 40px; 
  }

  .piggyHeader {
    margin-bottom: 40px; 
  }

  .byteHeader {
    margin-bottom: 40px; 
  }

  .sctapHeader {
    margin-bottom: 40px; 
  }

  .handogHeader {
    margin-bottom: 40px; 
  }
}

@media screen and (max-width: 600px) {
  .headerText {
    margin-left: 50px;
    padding-right: 15px;
    width: fit-content;
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
    color: white;
    border-right: 6px solid #146C94;
  }

  /* Cosmic Invaders */
  .projectAContainer {
    height: 1100px;
  }

  .projectA2 {
    margin-top: 50px;
  }

  .imgContainerCosmic {
    align-items: center;
  }
    
  .cosmicMenu {
    height: unset;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
  } 
  
  .cosmicGame {
    height: unset;
    width: 400px;
    border-radius: 10px;
  } 

  .projectAText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cosmicSub {
    display: none;
  }

  .cosmicHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .cosmicDescription{
    font-size: 20px;
    width: 400px;
  }

  /* Hear Me Out */
  .projectBContainer {
    height: 1100px;
  }

  .projectB2 {
    margin-top: 50px;
  }

  .projectB2 {
    margin-top: 50px;
  }

  .hearMenu {
    height: 500px;
  }

  .projectBText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hearSub {
    display: none;
  }

  .hearHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .hearDescription{
    font-size: 20px;
    width: 400px;
  }

  /* Piggy Plan */
  .projectCContainer {
    height: 1100px;
  }

  .projectC2 {
    margin-top: 50px;
  }

  .piggyMenu {
    height: 500px;
  }

  .projectCText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .piggySub {
    display: none;
  }

  .piggyHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .piggyDescription{
    font-size: 20px;
    width: 400px;
  }

  /* Best Byte */
  .projectDContainer {
    height: 1000px;
  }

  .projectD2 {
    margin-top: 20px;
  }

  .imgContainerByte {
    align-items: center;
  }
    
  .byteMenu {
    height: unset;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
  } 
  
  .byteGame {
    height: unset;
    width: 400px;
    border-radius: 10px;
  } 

  .projectDText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .byteSub {
    display: none;
  }

  .byteHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .byteDescription{
    font-size: 20px;
    width: 400px;
  }

  /* Hear Me Out */
  .projectBContainer {
    height: 1100px;
  }

  .projectB2 {
    margin-top: 50px;
  }

  .projectB2 {
    margin-top: 50px;
  }

  .hearMenu {
    height: 500px;
  }

  .projectBText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hearSub {
    display: none;
  }

  .hearHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .hearDescription{
    font-size: 20px;
    width: 400px;
  }

  /* SCTap */
  .projectEContainer {
    height: 1100px;
  }

  .projectE2 {
    margin-top: 50px;
  }

  .sctapMenu {
    height: 500px;
    margin-right: unset;
  }

  .sctapGame {
    display: none;
  }

  .projectEText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sctapSub {
    display: none;
  }

  .sctapHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .sctapDescription{
    font-size: 20px;
    width: 400px;
  }

  /* Handog */
  .projectFContainer {
    height: 1100px;
  }

  .projectF2 {
    margin-top: 50px;
  }

  .handogMenu {
    height: 500px;
    margin-right: unset;
  }

  .handogGame {
    display: none;
  }

  .projectFText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .handogSub {
    display: none;
  }

  .handogHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .handogDescription{
    font-size: 20px;
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .headerText {
    margin-left: 40px;
    font-size: 50px;
  }

  /* Cosmic Invaders */
  .projectAContainer {
    height: 900px;
  }

  .projectA2 {
    margin-top: 30px;
    height: 400px;
  }

  .imgContainerCosmic {
    align-items: center;
  }
    
  .cosmicMenu {
    height: unset;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
  } 
  
  .cosmicGame {
    height: unset;
    width: 300px;
    border-radius: 10px;
  } 

  .projectAText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cosmicSub {
    display: none;
  }

  .cosmicHeader {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .cosmicDescription{
    font-size: 20px;
    width: 300px;
  }

  /* Hear Me Out */
  .projectBContainer {
    height: 1100px;
  }

  .projectB2 {
    margin-top: 30px;
    height: 1000px;
  }

  .imgContainerHear {
    display: flex;
    align-items: center;
  }
    
  .hearMenu {
    height: unset;
    width: 300px;
    /* margin-bottom: 20px; */
    margin-right: 0px;
    border-radius: 10px;
  } 
  
  .hearGame {
    height: unset;
    width: 300px;
    border-radius: 10px;
  } 

  .projectBText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hearSub {
    display: none;
  }

  .hearHeader {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .hearDescription{
    font-size: 20px;
    width: 300px;
  }

  /* Piggy Plan */
  .projectCContainer {
    height: 1000px; 
  }

  .projectC2 {
    margin-top: 30px;
    height: 1000px;
  }

  .imgContainerPiggy {
    display: flex;
    align-items: center;
  }
    
  .piggyMenu {
    height: unset;
    width: 300px;
    /* margin-bottom: 20px; */
    margin-right: 0px;
    border-radius: 10px;
  } 
  
  .piggyGame {
    height: unset;
    width: 300px;
    border-radius: 10px;
  } 

  .projectCText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .piggySub {
    display: none;
  }

  .piggyHeader {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .piggyDescription{
    font-size: 20px;
    width: 300px;
  }

  /* Best Byte */
  .projectDContainer {
    height: 1000px;
  }

  .projectD1 {
    height: 300px;
  }

  .projectD2 {
    height: 400px;
  }

  .imgContainerByte {
    align-items: center;
  }
    
  .byteMenu {
    height: unset;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
  } 
  
  .byteGame {
    height: unset;
    width: 300px;
    border-radius: 10px;
  } 

  .projectDText {
    display: flex;
    height: 300px;
    margin-bottom: unset;
  }

  .byteSub {
    display: none;
  }

  .byteHeader {
    font-size: 35px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .byteDescription{
    font-size: 20px;
    width: 300px;
  }

  /* SCTap */
  .projectEContainer {
    height: 1200px;
  }

  .projectE2 {
    margin-top: 50px;
  }

  .sctapMenu {
    height: 500px;
    margin-right: unset;
  }

  .sctapGame {
    display: none;
  }

  .projectEText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sctapSub {
    display: none;
  }

  .sctapHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .sctapDescription{
    font-size: 20px;
    width: 300px;
  }

  /* Handog */
  .projectFContainer {
    height: 1200px;
  }

  .projectF2 {
    margin-top: 50px;
  }

  .handogMenu {
    height: 500px;
    margin-right: unset;
  }

  .handogGame {
    display: none;
  }

  .projectFText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .handogSub {
    display: none;
  }

  .handogHeader {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
  }

  .handogDescription{
    font-size: 20px;
    width: 300px;
  }
}

/* 
  border-style: solid;
  border-width: 2px;
  border-color: red; 
*/
